* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.boxes {
  height: 100vh;
  position: relative;

  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  flex-flow: row wrap;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  gap: 2rem 5rem;
}

.box {
  min-height: 10rem;
  min-width: 20rem;
  padding: 1.5rem;
  border: 1rem solid #f00;
  border-radius: .4rem;
  background-color: #00f;
  color: #fff;
  font-size: 4rem;
  /* flex-basis: calc(33.33% - 5rem); */
  flex: 1;

  display: flex;
  gap: 0 2rem;
  justify-content: center;
  align-content: center;
}

.box:nth-child(3) {
  order: -1;
}

/* .main {
  padding: 7rem 0;
} */